.octocat {
  background-color: white;
  text-align: center;
}

.confirmation-card {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

.number {
  font-size: 35px
  color: red;
}
