.titre-soc {
  margin: 20px 0;
  margin-bottom: 40px;
  padding:30px;
  border-bottom: 2px solid #000 !important;
}

.photos-soc {
  margin-top: 10px;
}

.photo-soc {
  border-radius:3px;
}

.comm-soc {
  margin-top:10px;
}

.lien-soc {
  margin-top:15px;
}

.fa-star {
  color:#58828B;
}

.fa-star-o {
  color:#58828B;
}

.lien-societe {
  font-size:18px;
}

.wrapper-profile-client {
  margin:15px;
  padding:5px;
  margin-bottom:90px;
}

.customer-btn {
  border-radius: 10px;
  background-color: green;
  position: relative;
}

.text-description {
  padding-top: 30px;
  margin-bottom: 40px;
}

#espace-btn {
    padding:30px;
    padding-bottom: 70px;
}

#espace-cards {
  margin-bottom:20px;
}
.confirmation-card {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 220px;
  position: relative;
  background-size: cover !important;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3)
}

.card-symbole {
  position: absolute;
  right: 60px;
  top: 40px;
  height: 46px;
  width: 46px;
}
.card-number {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 60px;
  color: red;

}
.card-description {
  position: absolute;
  bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.confirmation-call-to-action {
  margin: 50px;
  margin-bottom: 70px;
}
