<div class="article_bottom_navigation">
  <div class="container no-padding">
    <h1 class="text-center">Les articles proches</h1>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="article-card">
            <header>
            <h4><a href="/economies-energie/chaudiere-gaz-condensation/">Bonnes pratiques et astuces</a></h4>
            </header>
            <div class="article-content">
              <a href="/economies-energie/chaudiere-gaz-condensation/"><figure>
              <img src="//static0.quelleenergie.net/assets/product-thumbnails/chaudiere-gaz-condensation-8b620cbb088c67ed04772f25d06a518e.jpg">
              </figure>
              </a><p>Il est parfois compliqué d'avoir une vue synthétique du projet de rénovation. Suivez le guide.</p>
              <a href="/economies-energie/chaudiere-gaz-condensation/">En savoir plus</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="article-card">
            <header>
              <h4><a href="/economies-energie/chaudiere-gaz-basse-temperature/">Rétroplanning : Un timing serré !</a></h4>
            </header>
            <div class="article-content">
              <a href="/economies-energie/chaudiere-gaz-basse-temperature/"><figure>
              <img src="//static1.quelleenergie.net/assets/product-thumbnails/chaudiere-gaz-basse-temperature-e7525f2abfc48cd38142ffbc9e6288df.jpg">
              </figure>
              </a><p>Un élément décisif pour la réussite de votre projet est le respect du temps ! Allons y tout de suite !</p>
              <a href="/economies-energie/chaudiere-gaz-basse-temperature/">En savoir plus</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="article-card">
            <header>
              <h4><a href="/economies-energie/pompe-chaleur-air-eau/">Article proche numéro 3 <br> sujet</a></h4>
            </header>
            <div class="article-content">
              <a href="/economies-energie/pompe-chaleur-air-eau/"><figure>
              <img src="//static2.quelleenergie.net/assets/product-thumbnails/pompe-chaleur-air-eau-ef8b5162f45624f8fc9ed401db3590c4.jpg">
              </figure>
              </a><p>Récupérez les calories de l'air pour chauffer la maison et économisez sur vos factures de chauffage</p>
              <a href="/economies-energie/pompe-chaleur-air-eau/">En savoir plus</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
