

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <table>
        <thead>
          <div class="content">
            <div class="progress">
              <div class="label">
                <span>33% completed</span>
              </div>
              <div class="bar">
                <div class="wrapper"></div>
                <div class="progress" style="width: 33%"></div>
              </div>
            </div>
          </div>
        </thead>
        <tbody>
          <tr>
            <td>Superficie</td>
            <td>Effectifs</td>
            <td>Budget</td>
            <td>Timing</td>
            <td>Ambiance</td>
            <td>Visuels</td>
            <td>Coordonnées</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      FORMULAIRE A REDIGER
    </div>
  </div>
</div>


