<div class="wrapper-light-grey">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="octocat">
            <%= image_tag "jenktocat.jpg" %>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="bubble">
            <h1>Merci d'avoir fait confiance à Renoloco</h1>
            <h3>Vous allez recevoir un mail de confirmation reprenant tout vos éléments</h3>
            <br>
            <h3>Les professionnels de la rénovation qui ont matchés avec votre demande vont vous contacter</h3>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="presentation-bloc">
        <div class="col-sm-12">
          <div class= "main-call-to-action text-center">
            <%= link_to "Revenir à l'accueil", root_path, class: "btn-treehouse"%>
            <%= link_to "une question ? Appelez-nous !", root_path, class: "btn-treehouse"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

