<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 1, 3, 0.56) 0%, rgba(123, 2, 1, 0.23) 80%), url(<%= asset_path 'banner_photo_2.jpg' %>) ">
  <div class="banner-content">
    <h1>Les astuces pour optimiser l'espace de travail</h1>
    <div class="top-page-infos">
      <span class="subtitle">Conseils</span>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">

      <%= render 'shared/article_left_navigation' %>

      <div class="col-xs-12 col-md-9">
        <div class='article-page'>

          <h1 class="text-center">Les astuces pour optimiser votre espace de travail</h1>
          <p class="italic">Entreprendre un réaménagement de vos locaux est une parfaite occasion pour optimiser l'espace : rangements, réorganisation, etc... Tout cela peut faire gagner de la place utile rapidement et facilement... Et permettre d'obtenir des gains de productiivité à la clé.</p>

          <h3>Faire appel à un spécialise</h3>
          <p>Un architecte ou un décorateur d'intérieur mettra son expérience à votre service pour trouver les meilleures astuces en fonction de vos contraintes légales. Habile pour exploiter le moindre mètre carré, il saura vous guider pour faire de votre projet une réussite.</p>

          <h3>Aménagement : l'arme fatale de l'open space </h3>
          <p> Ouvrir ses espaces de travail en open-space permet de faire gagner jusqu'à 40 % de place. La clé d'un open space réussi est l'organisation en équipe de travail afin de ne pas déranger le reste des équipes. La gestion des déplacements est également primordial afin de ne pas gêner systématiquement les équipes.</p>

          Lire notre article sur l'open-space

          <h3>L'ergonomie pour le confort </h3>
          <p>Choisir un mobilier adapté au travail des salariés et à la disposition générale des locaux. </p>


          <%= image_tag "startup-indus.jpg", class: "img-responsive" %>

          <h3> Les rangements</h3>
          <p>Les rangements sont souvent oubliés dans la conception de l'aménagement. Ce sont pourtant des éléments essentiels afin de "débarrasser" les employés des éléments dont ils ne se servent pas. Pour cela classeurs, trieurs, dossier, bibliothèques... L'installation d'une bibliothèque accessible à tous est aussi un bon moyen de transmettre l'informations qui ne reste pas cantonnés au bureau du directeur...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/article_bottom_navigation' %>
