
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 1, 3, 0.56) 0%, rgba(123, 2, 1, 0.23) 80%), url(<%= asset_path 'banner_photo_2.jpg' %>) ">
  <div class="banner-content">
    <h1>Pourquoi Renoloco ?</h1>
    <div class="top-page-infos">
      <span class="subtitle">Nous vous aidons à créer un espace de travail agréable</span>
    </div>
  </div>
</div>


<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class='presentation-page'>

          <h1 class="text-center">Pourquoi Renoloco ?</h1>
          <p class="italic">La recherche d'un bon rénovateur est une affaire complexe. L'objectif de Renoloco est :</p>
          <ul>
            <li>informer le décisionnaire dans sa démarche de rénovation</li>
            <li>le mettre en relation avec les professionnels qui correspondent à ses besoins et à ses envies.</li>
          </ul>

          <h3>Passer par Renoloco : <strong>A quoi ça sert ?</strong></h3>
          <p>Renoloco vous permet de structurer votre projet en vous donnant une estimation de vos travaux, puis vous met en relation avec des entreprises qui ont été auditées par notre réseau. Cela vous permet de réaliser vos travaux en toute sérénité et vous alléger la recherche de pros qualifiés, réputée difficile..</p>

          <h3>Comment ça fonctionne ?</h3>
          <p>1. Vous remplissez le questionnaire (en 1 minute) afin de déterminer vos besoins. Nous faisons une première sélection des entreprises de rénovation affiliées qui correspondent à vos besoins.
          <p>2. Nous vous présentons les réalisations des entreprises de rénovation qui correspondent et vous choisissez celles que vous aimez et dont vous aimeriez avoir un devis</p>
          <p>3. Votre demande est envoyé aux entreprises qui vous recontactent en fonction de leurs disponibiltés</p>
          <p>4.Vous menez votre rénovation selon vos arbitrages (temps...)</p>

          <h3>Les gains que vous réalisez en utilisant Renoloco :</h3>
          <p>En inversant le mécanisme de recherche, ce n'est pas vous qui contactez les professionnels mais ce sont eux qui vous contactent, ils choisissent de vous répondre en fonction de vos contraintes qui seront plus facilement respectées</p>
          <ul>
            <li>Gain de temps dans une démarche qui a souvent lieu dans un timing serré</li>
            <p>Une meilleure adéquation des intérêts entre client et fournisseur</p>
            <li>Un accompagnement par téléphone en cas de doute</li>
            <li>Une meilleure transparence sur les prix avec la possibilité d'obtenir facilement plusieurs devis</li>
          </ul>

          <h3>Un business model transparent et gratuit pour le client</h3>
          <p>Nous tirons notre rémunération de nos partenariats avec nos professionnels sous la forme d'un forfait par mise en relation acceptée. Le client bénéficie gratuitement d'un service dont la qualité est garantie dans un secteur parfois compliqué. Notre relation avec les meilleurs acteurs du secteur nous permet cela et nous communiquons les retours de nos clients à nos professionnels</p>
          <p>Les professionnels quant à eux externalisent leurs coûts de prospection client de manière très avantageuse et ne paient que pour des mises en relations vérifiées et qualifiées.</p>

        </div>
      </div>

    </div>
  </div>
</div>

<%= render 'shared/article_bottom_navigation' %>
