
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 1, 3, 0.56) 0%, rgba(123, 2, 1, 0.23) 80%), url(<%= asset_path 'banner_photo_2.jpg' %>) ">
  <div class="banner-content">
    <h1>Pourquoi passer par Renoloco ?</h1>
    <div class="top-page-infos">
      <span class="subtitle">Nous vous aidons à créer votre nouvel espace de travail</span>
    </div>
  </div>
</div>


<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class='presentation-page'>

          <h1 class="text-center">Les avantages Renoloco</h1>
          <p class="italic">Rénover ses locaux est une affaire complexe. L'arbitrage se fait sur une base rationnelle : contrainte budgétaire, espace de vie agréable pour les salariés, mais aussi subjective et passionnelle : vos locaux reflètent l'image de votre entreprise, distille une ambiance qui doit correspondre aux valeurs de la société... Pour couronner le tout, cette démarche s'effectue souvent avec une contrainte de temps défini. Il faut faire vite et bien.</p>

          <p>L'objectif de Renoloco est :</p>
          <ul>
            <li>d'informer le décisionnaire afin qu'il puisse réussir sa démarche de rénovation.</li>
            <br>
            <li>de le mettre en relation avec nos partenaires professionnels selon deux critères :
              <ul>
                <br>
                <li>l'adéquation de ses besoins avec les compétences des professionnels de la rénovation</li>
                <li>le choix basé sur des réalisations déjà effectuées par nos partenaires</li>
              </ul>
            </li>
          </ul>

          <h3><strong>Quel avantage ?</strong></h3>
          <p> Au lieu de contacter des agences au hasard, vous choisissez les agences dont les réalisations vous plaisent et qui correspondent à votre projet. Vous gagnez du temps de recherche et vous n'en perdez plus en rendez-vous de prospection. Cela ne vous coûte rien puisque nous nous rémunérons auprès du professionnel lorsque celui accepte la mise en relation.</p>

          <h3>Comment ça fonctionne ?</h3>
          <p>1. Vous remplissez le questionnaire (en 1 minute) afin de déterminer vos besoins. Nous faisons une première sélection des entreprises de rénovation partenaires qui correspondent à vos besoins.
          <p>2. Nous vous présentons les réalisations des entreprises de rénovation qui correspondent à vos besoins et vous choisissez celles que vous aimez et dont vous aimeriez avoir un devis</p>
          <p>3. Votre demande est traitée par nos soins (affinée si besoin avec l'équipe) puis envoyée aux prestataires selectionnés. Ceux-ci vous font une proposition de rendez-vous dans la foulée.</p>

          <h3>Les gains que vous réalisez en utilisant Renoloco :</h3>
          <p>En inversant le mécanisme de recherche, ce n'est pas vous qui contactez les professionnels mais ce sont eux qui vous contactent, ils choisissent de vous répondre en fonction de vos contraintes qui seront plus facilement respectées</p>
          <ul>
            <li>Gain de temps dans une démarche qui a souvent lieu dans un timing serré</li>
            <li>Une meilleure adéquation des intérêts entre client et fournisseur</li>
            <li>Un accompagnement par téléphone en cas de doute</li>
            <li>Une meilleure transparence sur les prix avec la possibilité d'obtenir facilement plusieurs devis</li>
          </ul>

          <h3>Pourquoi nous faire confiance ?</h3>
          <p>Nous nous rémunérons auprès du professionnel contacté lorsque celui-ci accepte une mise en relation qualifiée et vérifiée par nos soins. Nous contactons régulièrement nos prestataires ainsi que les entreprises qui sont passées par notre intermédiaire afin d'améliorer l'expérience utilisateur et de conserver une démarche qualité liée à notre connaissance du secteur.</p>
          <p>Les professionnels quant à eux externalisent leurs coûts de prospection client et ne paient que pour des mises en relations vérifiées et qualifiées.</p>
        </div>
      </div>
    </div>
  </div>
</div>
