

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 1, 3, 0.56) 0%, rgba(123, 2, 1, 0.23) 80%), url(<%= asset_path 'banner_photo_2.jpg' %>) ">
  <div class="banner-content">
    <h1>Bien choisir son entreprise de rénovation</h1>
    <div class="top-page-infos">
      <span class="subtitle">Choix important: voici les infos ?</span>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">

      <%= render 'shared/article_left_navigation' %>

      <div class="col-xs-12 col-md-9">
        <div class='article-page'>

          <h1 class="text-center">Bien choisir son<br> entreprise de rénovation</h1>
          <p class="italic">Vous avez reçu plusieurs devis concernant votre projet d'aménagement et il ne vous reste plus qu'à décider lequel choisir. Vous n'avez encore contacter personne et vous êtes à la recherche d'un prestataire. Voici quelques conseils de bon sens pour vous aider à choisir.</p>

          <h3><strong>1.</strong> Célérité et efficience à vous répondre</h3>
          <p>Lorsque vous contactez un prestataire, sa capacité à vous répondre concisement et rapidement. Même pour vous dire qu'il ne pourra vous communiquez son devis que d'ici un mois est un premier gage de sérieux et de qualité. Comme pour tout prestataire, le premier contact client doit être irréprochable et si celui-ci ne vous semple pas se faire dans les régles de la politesse, ce n'est pas bon signe. Un moyen d'avoir un excellent contact et de préparer un cahier des charges concis et précis. Le professionnel en face de vous sait que vous, vous savez ou vous allez, et çà ça lui donne envie de travailler avec vous</p>
          <p>Lire notre article<strong> " Rédiger son cahier des charges en ligne"</strong></p>

          <h3><strong>2.</strong> Demandez à contacter des personnes ayant travaillé avec lui </h3>
          <p>Dans ce métier, les références sont importantes. Demandez à être mis en relation avec des clients qui vous ressemblent et avec qui ils ont travaillés</p>

          <%= image_tag "startup-indus.jpg", class: "img-responsive" %>

          <h3><strong>3.</strong> Vérifiez les clauses </h3>
          <p>Les clauses d'un contrat sont censés protégés les deux parties d'une rupture d'engagement de l'un envers l'autre. Voici les quelques points où il faut faire attention. l'engagement de date de ivraison et des retard. Les malfacons...</p>
          <p>En savoir plus : lire notre article<strong> " Le guide de la clause"</strong></p>

          <h3><strong>4.</strong> Projetez-vous ! </h3>
          <p>Le choix de votre partenaire professionnel doit être un choix de coeur mais aussi de raison en fonction de vos besoins et de votre budget. Comme pour votre logement, le choix final se fait souvent en fonction de votre capacité à vous projeter (ainsi que vos employés !) dans votre futur environnement de travail tout beau tout neuf .</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/article_bottom_navigation' %>
