

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 1, 3, 0.56) 0%, rgba(123, 2, 1, 0.23) 80%), url(<%= asset_path 'banner_photo_2.jpg' %>) ">
  <div class="banner-content">
    <h1>Bien choisir son entreprise de rénovation</h1>
    <div class="top-page-infos">
      <span class="subtitle">Choix important: voici les infos ?</span>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">

      <%= render 'shared/article_left_navigation' %>

      <div class="col-xs-12 col-md-9">
        <div class='article-page'>

          <h1 class="text-center">Bien choisir son<br> entreprise de rénovation</h1>
          <p class="italic">Avant de vous lancer dans la recherche d'une entreprise pour mener à bien vos travaux de rénovation, il semble sage de se poser les bonnes questions car ce sont elles, qui plus que le choix de l'entreprise, vous permettront de réussir votre démarche.</p>
          <h3><strong>1.</strong> Mettre en adéquation objectifs et besoins</h3>
          <p>Dans quel cadre intervient la rénovation : un déménagement, un aggrandissement ? Une erreur fréquemment faite par les office managers est de ne pas anticiper le nombre de salariés au regard de la croissance attendue de la société. D'abord, consultez vos salariés. Leur avis est d'une grande utilité car c'est ce qui fera qu'ils se sentent bien dans la société. C'est aussi un moyen de vérifier que vos perceptions et les leurs sont alignés</p>
          <p>Lire notre article<strong> "les salariés et leur cadre de travail"</strong></p>

          <h3><strong>2.</strong> Penser l'image de la société </h3>
          <p>Quelle est l'image perçue de votre société par ses clients, ses salariés, par vous-même ? Ce petit travail doit vous permettre de vous faire une image assez nette du style d'aménagement que vous transmettrez à l'architecte. N'hésitez pas à confronter cette image à vos objectifs économiques pour faire apparaître d'éventuelles discordances.</p>

          <%= image_tag "startup-indus.jpg", class: "img-responsive" %>

          <h3><strong>3.</strong> Anticiper au maximum pour être maître du temps</h3>
          <p>La rénovation de bureaux, tout comme le déménagement, demande une certaine organisation et un respect des délais imposés. Prévoir sa démarche de rénovation bien à l'avance permet de choisir le professionnel que l'on veut (et qui a tendance à être très sollicité et donc peu disponible à court terme). Si le minimum acceptable est de 3 mois, 6 mois semble être le seuil de confort.</p>

          <h3><strong>4.</strong> Multiplier les devis </h3>
          <p>Le choix de votre partenaire professionnel doit être un choix de coeur mais aussi de raison en fonction de vos besoins et de votre budget. Sollicitez plusieurs fournisseurs pour vérifier la cohérence de leurs propositions.</p>



        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/article_bottom_navigation' %>
