<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 1, 3, 0.56) 0%, rgba(123, 2, 1, 0.23) 80%), url(<%= asset_path 'banner_photo_2.jpg' %>) ">
  <div class="banner-content">
    <h1>Contact </h1>
  </div>
</div>


<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class='presentation-page'>

         <h3><strong>Nous contacter</strong></h3>

          <p>Vous avez une question, une remarque. Vous êtes une entreprise ou un professionnel. Merci de nous contacter par mail, nous vous rappelerons rapidement.</p>


          <h5>contact@renoloco.fr</h5>

        </div>
      </div>

    </div>
  </div>
</div>
