
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,1,3,0.2) 0%, rgba(123,2,1,0.2) 50%), url(<%= asset_path 'banner_photo.jpg' %>) ">
  <div class="banner-content">
    <h1>Titre</h1>
  </div>
</div>

<div class="presentation_wrapper">
  <div class="container">
    <div id="frontpage-presentation">
      <div class="row">
        <div class="col-sm-12 text-center">
          <span class="title-h2">
            <h3>Les <strong>services</strong> Renoloco</h3>
          </span>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="presentation-bloc">
          </div>
          <div class="col-sm-4 text-center">
            <div class="presentation-card">
              <a href="#" title="Calculer mes aides"><span class="fa fa-calculator"></span></a>
              <div class="presentation-text">
                <p>
                  <strong>Remplissez le questionnaire</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="presentation-card">
              <a href="#" title="Demander ma prime énergie">
                <span class="fa fa-eur"></span>
              </a>
              <div class="presentation-text">
                <p>
                  <strong>Recevez vos plans et devis</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="presentation-card">
              <a href="#" title="Outil d'aide au choix des travaux les plus rentables"><span class="fa fa-home"></span></a>
              <div class="presentation-text">
                <p>
                  <strong>Trouver les meilleurs prestataires</strong>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="presentation-bloc">
          <div class="col-sm-12 text-center">
            <a href="#" class="btn-treehouse">Remplir le questionnaire en 1 minute</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="wrapper-light-grey">
  <div class="container">
      <div class="row">
        <div id="front-articles">
          <div class="col-sm-12 col-md-6 left-square">
            <span class='h1 text-center'>Rénovation</span>
            <h3>L'essentiel en 3 articles</h3>
          </div>
        </div>
      </div>
    </div>
</div>

