
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,1,3,0.1) 0%, rgba(123,2,1,0.1) 50%), url(<%= asset_path 'banner_photo.jpg' %>) ">
  <div class="banner-content">
    <h1>Créez l'espace de rêve de votre entreprise</h1>
    <h2>Nous vous aidons à trouver les entreprises de rénovation qui créeront le bureau de vos rêves.</h2>
  </div>
</div>

<div class="presentation_wrapper">
  <div class="container">
    <div id="frontpage-presentation">
      <div class="row">
        <div class="col-sm-12 text-center">
          <span class="title-h2">
            <h3>Les <strong>services</strong> Renoloco</h3>
          </span>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="presentation-bloc">
          </div>
          <div class="col-sm-4 text-center">
            <div class="presentation-card">
              <a href="#" title="Calculer mes aides"><span class="fa fa-calculator"></span></a>
              <div class="presentation-text">
                <p>
                  <strong>Remplissez le questionnaire</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="presentation-card">
              <a href="#" title="Demander ma prime énergie">
                <span class="fa fa-eur"></span>
              </a>
              <div class="presentation-text">
                <p>
                  <strong>Recevez vos plans et devis</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="presentation-card">
              <a href="#" title="Outil d'aide au choix des travaux les plus rentables"><span class="fa fa-home"></span></a>
              <div class="presentation-text">
                <p>
                  <strong>Trouver les meilleurs prestataires</strong>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="presentation-bloc">
          <div class="col-sm-12">
            <div class= "main-call-to-action text-center">
              <a class="btn-treehouse text-center"> <%= link_to "Remplir le questionnaire en 1 minute", new_customer_path %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="wrapper-light-grey">
  <div class="container">
      <div class="row">
        <div id="front-articles">
          <div class="col-xs-12 col-sm-6 left-square">
            <div class="card-text-left" style="background-image: linear-gradient(-225deg, rgba(0,1,3,0.2) 0%, rgba(123,2,1,0.2) 50%), url(<%= asset_path 'article_renovation.jpg' %>) ">
              <span class='h1 text-center'>Rénovation</span>
              <h3>L'essentiel à savoir pour l'office manager</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 right-square">
            <div class="articles-bloc">
              <div class="row">
                <h3 class="text-center">Les 3 articles à lire</h3>
                <div class="col-sm-6">
                  <div class="article-card">
                    <a href="#"><span class="project-icon text-center"></span><span>L'isolation des murs</span></a>
                    <span class="project-icon project-icon-iso-m"></span>
                    <p class="text-justify">L’isolation des murs diminue efficacement les besoins en chauffage en empêchant les transitions de chaleur entre l’air intérieur et extérieur.</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="article-card">
                    <a href="#"><span class="project-icon"></span><span>Tout savoir en 10 points</span></a>
                    <span class="project-icon project-icon-iso-m"></span>
                    <p class="text-justify">Il est parfois compliqué d'avoir une vue synthétique du projet de rénovation. Voici les étapes à respecter pour bien anticiper les points forts.</p>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="article-card-inline">
                    <a href="#"><span class="project-icon text-center"></span><span>Le timing !</span></a>
                    <span class="project-icon project-icon-iso-m"></span>
                    <p class="text-justify">Un élément décisif pourla réussite de votre projet est la maîtrise du temps. Nous vous aidons à cela.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

