
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,1,3,0.2) 0%, rgba(123,2,1,0.2) 50%), url(<%= asset_path 'banner_photo.jpg' %>) ">
  <div class="banner-content">
    <h1>Titre</h1>
  </div>
</div>

<div class="main_wrapper">
  <div class="presentation-container">
    <div id="frontpage-presentation">
      <div class="row">
        <div class="col-sm-12 text-center">
          <span class="title-h2">
            <h3>Les <strong>services</strong> Renoloco</h3>
          </span>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 text-center">
          <div class="presentation-card">
            <a href="#" title="Calculer mes aides"><span class="fa fa-calculator"></span></a>
            <div class="presentation-text">
              <p>
                <strong>Calculez en moins de 3 minutes</strong> le montant de vos aides nationales et locales
              </p>
              <p>
                <a href="#">Calculer mes aides</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <div class="presentation-card">
            <a href="#" title="Demander ma prime énergie">
              <span class="fa fa-eur"></span>
            </a>
            <div class="presentation-text">
              <p>
                Calculeo vous <strong>verse directement la Prime Énergie</strong> par chèque
              </p>
              <p>
                <a href="#">Demander ma prime énergie</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <div class="presentation-card">
            <a href="#" title="Outil d'aide au choix des travaux les plus rentables"><span class="fa fa-home"></span></a>
            <div class="presentation-text">
              <p>
                Outil d'aide au choix des travaux <strong>les plus rentables</strong>.
              </p>
              <p>
                <a href="#">Faire une simulation de choix de travaux</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <a href="#" class="btn-treehouse">Je remplis le questionnaire en une minute</a>
        </div>
      </div>
    </div>
  </div>
</div>
