<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 1, 3, 0.56) 0%, rgba(123, 2, 1, 0.23) 80%), url(<%= asset_path 'banner_photo_2.jpg' %>) ">
  <div class="banner-content">
    <h1>Pourquoi faire appel à une agence de rénovation ?</h1>
    <div class="top-page-infos">
      <span class="subtitle">Un choix quasi évident</span>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">

      <%= render 'shared/article_left_navigation' %>

      <div class="col-xs-12 col-md-9">
        <div class='article-page'>

          <h1 class="text-center">Passer par une agence de rénovation :un choix quasi évident</h1>
          <p class="italic">Il est possible d'organiser sa démarche de rénovation tout seul comme un grand, mais c'est un sacré boulot. Vous payez une agence de rénovation pour vous proposer une solution clé en main mais que fait-elle derrière ? éléments de réponse.</p>

          <h3><strong>PHASE 1 : PREPARATION</strong></h3>

          <h3><strong>1.</strong> Définition du projet d'aménagement </h3>
          <p> La définition du projet d'aménagment est la traduction par l'entreprise de rénovation de votre propre travail sur le projet :attentes des salariés, organisation de l'entreprise, nombre de salariés, tout y passe... Plus vous serez précis, plus l'agence de rénovation sera en mesure de travailler efficacement à une proposition d'aménagement cohérente avec votre projet</p>


          <h3><strong>2.</strong> Réalisation d'une étude technique </h3>
          <p>L'agence réalise en parallèle une étude de faisabilité afin que le futur espace de travail respectent les normes en vigueur : sécurité, bien-être des salariés... </p>


          <%= image_tag "startup-indus.jpg", class: "img-responsive" %>

          <h3><strong>3.</strong> Réalisation d'un plan d'aménagement de l'espace et simulation d'implantation</h3>
          <p>L'agence de rénovation réalise par la suite une ou plusieurs propositions d'aménagement de bureaux. Des simulations 3D peuvent être effectuées par certaines agences. Choix des matériaux et des mobiliers.</p>

          <h3><strong>4.</strong> Validation du devis</h3>
          <p>validation du prix
          indice de temps (variable entre 2 semaines pour 200 m2 et à partir de 1 mois pour plus si le pro est occupé)
          validation du devis</p>

          <h3><strong>PHASE 2 : EXECUTION</strong></h3>

          <h3><strong>1.</strong> Pilotage des travaux </h3>
          <p>Pilotage des travaux avec tous les sous-traitants.</p>

          <h3><strong>CONCLUSION</strong></h3>

          <h3><strong></strong> De l'utilité d'une agence </h3>
          <p>On peut le faire sans agence.Les entreprises ont également la possibilité de piloter les travaux de rénovation de leurs bureaux sans faire appel à une agence spécialisée. Dans ce cas, elle devra rechercher et démarcher elle-même les entreprises susceptibles d’intervenir. À cela s’ajoutera une autre tâche qui sera la gestion et la coordination des différents intervenants des travaux. Il s’agit généralement d’un travail nécessitant beaucoup de temps et de disponibilité. Cela peut cependant être envisageable si les bureaux où locaux concernés sont de petite taille. Dans le cas contraire, il est recommandé de faire appel à un prestataire qui sera à même d’aider l’entreprise à concevoir son espace de travail comme elle le souhaite. Les travaux de rénovation et d’aménagement de bureaux ou locaux sont importants. En effet, un environnement de travail bien pensé et bien aménagé sera un atout au quotidien et contribuera au bien-être des salariés.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/article_bottom_navigation' %>
