
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 1, 3, 0.56) 0%, rgba(123, 2, 1, 0.23) 80%), url(<%= asset_path 'banner_photo_2.jpg' %>) ">
  <div class="banner-content">
    <h1>Comment bien mener sa stratégie de rénovation ?</h1>
    <div class="top-page-infos">
      <span class="subtitle">Une réflexion systémique</span>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">

      <%= render 'shared/article_left_navigation' %>

      <div class="col-xs-12 col-md-9">
        <div class='article-page'>

          <h1 class="text-center">(Se) poser les bonnes questions </h1>
          <p class="italic">Avant de vous lancer dans la recherche d'une entreprise pour mener à bien vos travaux de rénovation, Voici les points à prendre en compte pour vous permettre de réussir votre démarche.</p>

          <h3><strong>1.</strong> Consultez vos employés </h3>
          <p> Le bien-être au travail provient en grande partie de l'aménagement des espaces de vie des salariés. Recueillir les attentes des employés est aussi un bon moyen de vérifier que vos perceptions et les leurs sont alignées. Les différences d'intérêts : les salariés préfèrent moins d'open spaces tandis que ces derniers sont privilégiés par les dirigeants pour des raisons de coûts, peuvent être résolues autour d'arbitrages, un mix des deux attentes. Enfin l'organisation même de la société doit être prise en compte : nombre de réunion, déplacement et desk-sharing...</p>


          <h3><strong>2.</strong> (Re)dessinez l'image de votre entreprise </h3>
          <p>Quelle est l'image perçue de votre société par ses clients, ses salariés, par vous-même ? Que voudriez-vous changer ? L'aménagement et la décoration de vos futurs bureaux est une occasion rêvée pour dynamiser votre culture d'entreprise. Des entreprises spécialisées de décoration, à l'instar de Kollori, peuvent donner un coup de fouet à des locaux parfois un peu terne.</p>

          <h3><strong>3.</strong> Optimisez votre espace </h3>
          <p></p>

          <%= image_tag "startup-indus.jpg", class: "img-responsive" %>

          <h3><strong>4.</strong> Prenez de l'avance </h3>
          <p>La rénovation de bureaux, tout comme le déménagement, demande une certaine organisation et un respect des délais imposés. Prévoir sa démarche de rénovation bien à l'avance permet de choisir le professionnel que l'on veut (et qui a tendance à être très sollicité et donc peu disponible à court terme). Si le minimum acceptable est de 3 mois, 6 mois semble être le seuil de confort. Par ailleurs, plus vous vous y prenez tôt, plus le professionnel sera apte à tenir les délais imposés</p>

          <h3><strong>5.</strong> Multipliez les devis </h3>
          <p>Sollicitez plusieurs devis pour avoir le problème du choix. Cela vous permet de visualiser vos arbitrages et de vérifier la cohérence des propositions qui vous sont faites.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/article_bottom_navigation' %>
