// Your footer style
.footer {
    background: #6ebf56;
    color: #fff;
    font-size: 1.21429em;
    line-height: 1.3em;
    padding: 0 0 48px 0;
    margin: 0px 0 0;
    display: block;
    font-size: 0.875em;
    font-family: "BrandonGrotesque-Regular";
    font-weight: 300;
    font-style: normal;

    ul {
    margin-right: 0px;
    padding-right: 0px;
    }
}

.row {
    display: block;
}


.share-links {
  display: flex;
  align-items: left;
  justify-content: space-between;
}
.share-link {
  flex: 0 0 24%;
  color: white;
  font-size: 18px;
  padding: 10px 0;
  text-align: left;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    color: white;
  }
}
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}
