.questions-container {
  background: #52AA5E;
  color: white;
}


.questions-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  height: 60px;
  background: #E8E8E8;
  .controls {
    width: 100px;
    display: flex;
    .control {
      padding: 10px;
      color: white;
      display: flex;
      margin: 2px;
      align-items: center;
      background-color: darken(#367591, 10%);
      border-radius: 2px;
    }
  }
}

.progress-container {
  display: flex;
  align-items: center;
  .progress {
    width: 300px;
    margin: 0px;
  }
  p {
    padding-left: 10px;
    margin: 0px;
    strong {
      font-weight: bold;
    }
  }
}

.question-container {
  height: calc(100vh - 55px);
  display: flex;
  align-items: center;
  justify-content: center;
  h3 {
    span {
      opacity: 0.5;
    }
    i {
      font-size: 20px;
      margin-right: 10px;
    }
    margin-bottom: 30px;
  }
  input {
    background: transparent;
    padding: 30px;
    border-bottom: 1px solid;
    border-width: 0px 0px 1px 0px;
    border-color: darken(#52AA5E, 10%);
    font-size: 20px;
    border-image-slice: 2;
    outline: none;
  }
  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.3);
  }
  input::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.3);
  }
  input:-ms-input-placeholder { /* IE 10+ */
    color: rgba(255, 255, 255, 0.3);
  }
  input:-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.3);
  }

  button {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    opacity: 1;
    color: black;
    font-size: 14px;
    &:hover {
      opacity: 0.7;
    }
    .ok {
      background-color: #52AA5E;
      color: white;
      padding: 10px;
      border-radius: 8px;
      font-size: 18px;
      font-weight: bold;
    }
    small {
      padding-left: 10px;
    }
  }
}

.all-skills-btn {
  display: flex;

  justify-content: space-around;
  flex-direction: wrap;
}

.skills-btn {
  font-size: 20px;
  background-color: transparent;
  border: none;
  padding:2px;

  &:hover {
      transition: all 800ms ease;
      background-color:#367591;
    }
}


.image_picker_selector {
  display: flex;
  justify-content: space-between;

  li {
    min-width: 25%;

    .thumbnail.selected {
      background-color: #F7FDB6 !important;
      border:0px;
      border-color: transparent;
    }
  }
}


#final-btn {
  margin-top: 50px;
  border-width: 5px;
  border: solid;
  border-radius: 30px;
  background-color: #388659;
}


.image_picker_image {
  border-radius: 5px;
  &:hover {
  filter:gray;
  border-radius:20px;
  }
}

.thumbnail {
  border-radius: 5px;
  border-width: 0px;
  background-color: transparent;
  border-color: transparent;
  &:hover {
  border-radius:20px;
  }
}

.not-active {
   pointer-events: none;
   cursor: default;
}

.form-control {
  font-weight: lighter;
  box-shadow: none;
}
