
<div class="wrapper_grey">
  <h1 class="text-center">Mon tableau de bord</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9">
        <div class="dashboard-tabs">
          <div class="dashboard-tab active" id="mycats">
            <h3>Demandes en attentes</h3>
          </div>
          <div class="dashboard-tab" id="mybookings">
            <h3>Demandes validées</h3>
          </div>
          <div class="dashboard-tab" id="mybookings">
            <h3>Demandes refusées</h3>
          </div>
        </div>
        <div class="dashboard-tab-content hidden" id="my-content">
        </div>
        <div class="dashboard-tab-content" id="mybookings-content">
            <div class="dashboard-booking-informations">
                <div class="dashboard-cat-photo fixe-button-widht">
                  <h3 class="fixe-button-widht">chantier 1</h3>
                </div>
                <div class="dashboard-cat-rating fixe-button-widht">
                  <div class="cat-rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="false"></i>
                    <small>1</small>
                  </div>
                </div>
                <div class="dashboard-cat-date">
                  <ul>
                    <li>du lundi 25 avril 2017</li>
                    <li>au vendredi 28 mai 2017</li>
                  </ul>
                </div>
                <div class="dashboard-bookings-price fixe-button-widht text-center">
                  <p>15 000<i class="fa fa-euro"></i></p>
                </div>
                <div>
                   <div class="pending-button-dash fixe-button-widht text-center"><p>Pending...</p>
                   </div>
                </div>
                <div>
                  <div class="allgood-button-dash fixe-button-widht text-center"><p>Détails/p>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="right-card text-center">
          <div class="right-card-elem">
            <img src="https://res.cloudinary.com/das218bbz/image/upload/c_crop,g_face,h_900,r_max,w_900/c_scale,w_150/v1489592039/jfbs2cwncsz1drf95boe.jpg" alt="Jfbs2cwncsz1drf95boe" />
          </div>
          <div class="right-card-elem">
              <h3>Edouard></h3>
          </div>
          <div class="right-card-elem"->
            <a class="text-center" href="/users/41">
              <p>Mon profile</p>
            </a>
          </div>
            <div class="right-card-elem"->
              <a href="/cats/new?class=text-center">
                <p> doudou@mail.com </p>
                <p> 01 47 71 27 71 </p>
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
