.banner {
  text-align: center;;
  height: calc(100vh - 120px);
  background: no-repeat center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
  position: relative;

  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #FFB75E; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFB75E , #ED8F03); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFB75E , #ED8F03); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.7;
  }
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  top: -30px;
  left: 10px;
  color: #fff;
  text-align: left;

  h1 {
    font-size: 50px;
    font-weight: bold;
  }

  i {
    font-size: 1.4em;
    margin-top: 10px;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 100;
  }

  .main-cta {
    font-family: 'Lato', sans-serif;
    padding: 16px 42px;
    font-size: 1.3em;
    margin-top: 45px;
    background: #63d360;
    border: none;
    line-height: 50px;
    border-radius: 40px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    transition:300ms;

    span{
      z-index: 93;
      position: relative;
    }

    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left:-105%;
      transition:300ms;
      background: rgba(255,255,255,0.52);
      transform:skew(-30deg);
    }

    &:hover:before{
      left: 105%;

    }

    &:hover{
      box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
      cursor:pointer;
    }
  }

  ul {
    display: flex;
    position: absolute;
    bottom: -10px;
    list-style: none;

    li {
      margin: 0 20px;
      font-size: 1.3em;
    }

    li:nth-child(2) {
      &::before {
        content: "|";
        position: relative;
        left: -16px;
      }

      &::after {
        content: "|";
        position: relative;
        right: -16px;
      }
    }
  }
}
