.tabs {
  height: 55px;
  background: #847681;
  display: flex;
}
.tabs a {
  color: white;
  font-weight: bold,
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h4 {
  font-size: 17px;
}

.tab {
  background: #847681;
  height: 55px;
  flex: 0 0 20%;
  text-align: center;
  padding: 5px ;
}

.tab.active {
  background: #d3c2c2;
  color: black;
}

//submenu CSS

.dropdown-submenu {
    position: relative;

  .dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -6px;
      margin-left: -1px;
      border-radius: 0 6px 6px 6px;
  }
}
